<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abilities</title>
    <link rel="stylesheet" href="/stylesheets/abilities/style.css">
</head>
<body>
    <div class="wrapper">
        <div id="allAbilities">

            <h1>All Abilities</h1>

            <% if (abilities.length > 0) { %>

            <% abilities.forEach(function(ability) { %>
                
            <div>
                <p><%= ability.name %></p>
                <form id="show-ability-form" action="/api/abilities/<%= character._id %>/<%= ability._id %>" method="GET">
                    <input type="submit" value="View Ability">
                </form>

                <form id="add-ability-form" action="/api/abilities/add/<%= character._id %>/<%= ability._id %>" method="GET">
                    <input type="submit" value="Add Ability to <%= character.name %>">
                </form>
            </div>

            <% }); %>

            <% } else { %>

            <p>No abilities yet, create one!</p>

            <% }; %>

            <form id="new-ability-form" action="/api/abilities/<%= character._id %>/new" method="GET">
                <input type="submit" value="Create ">
            </form>



        </div>
        <div id="charAbilities">
            <h1><%= character.name %>'s Abilities</h1>

            <% if (character.abilities.length > 0) { %>
                
            <% character.abilities.forEach(function(abilityId) { %>
                
            <% abilities.forEach(function(ability) { %>

            <% if (ability.id === abilityId.toString()) { %>

            <div>
                <p><%= ability.name %></p>
                <form id="show-ability-form" action="/api/abilities/<%= character._id %>/<%= ability._id %>" method="GET">
                    <input type="submit" value="View Ability">
                </form>
            </div>

            <% }; %>

            <% }); %>
    
            <% }); %>
                
            <% } else { %>

            <p>No abilities yet, add one!</p>

            <% }; %>

        </div>
    </div>
</body>
</html>