<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Characters</title>
    <link rel="stylesheet" href="/stylesheets/characters/style.css" type="text/css">
</head>
<body>
    <h1><%= user.name %>'s Characters</h1>

    <!-- <p><%= characters %></p> -->
    <div class="wrapper">

        <% if (characters.length > 0) { %>
        
        <% characters.forEach(function(character) { %>

        <div>

            <p>Name: <%= character.name %></p>
            <p>Race: <%= character.race %></p>
            <p>Class: <%= character.class %></p>
            <p>Ability Scores: <%= character.stats %></p>
            <p>Inventory: <%= character.items %></p>
            <p>Currency: <%= character.money %></p>
            <p>Alignment: <%= character.alignment %></p>
            
            <% if (character.spellSlots > 0) { %>

            <p>Spell Slots: <%= character.spellSlots %></p>
            
            <% }; %>

            <% if (character.abilities > 0) { %>
            
            <p>Abilities: <%= character.abilities %></p>
            
            <% } else { %>
            
            <p>Abilities: none</p>
            
            <% }; %>
            
            <form id="add-ability-form" action="/api/abilities/<%= character._id %>" method="GET">
                <input type="submit" value="Add an ability">
            </form>
            
        </div>
        
        <% }); %>

        <% } else { %>

        <p>No abilities yet, create one!</p>

        <% }; %>

        <div>
            <form id="new-character-form" action="/api/characters/new" method="GET">
                <input type="submit" value="Create a Character">
            </form>
        </div>

    </div>
        
        <!-- <p><%= user %></p> -->

    
</body>
</html>