<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ability Creation</title>
</head>
<body>
    <div class="wrapper">

        <% if (abilityBoolean) { %>

        <h1>Editing <%= ability.name %></h1>

        <% } else { %>

        <h1><%= character.name %>'s New Ability</h1>

        <% }; %>

        <% if (abilityBoolean) { %>

        <form id="update-ability-form" action="/api/abilities/<%= character._id %>/<%= ability._id %>" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%= ability.name %>">
            <label for="level">Level: </label>
            <input type="text" name="level" id="level" value="<%= ability.level %>">
            <label for="cantrip">Cantrip: </label>
            <input type="checkbox" name="cantrip" id="cantrip">
            <label for="weapon">Weapon: </label>
            <input type="checkbox" name="weapon" id="weapon">
            
            <label for="hands">Hands: </label>
            <input type="radio" name="hands" id="0" value="0">
            <label for="0">None</label>
            <input type="radio" name="hands" id="1" value="1">
            <label for="1">One</label>
            <input type="radio" name="hands" id="2" value="2">
            <label for="2">Two</label>
    
            <label for="range">Range(ft.): </label>
            <input type="text" name="range" id="range" value="<%= ability.range %>">
            <label for="damage">Damage(eg. 2d6 slashing, 1d8 acid): </label>
            <input type="text" name="damage" id="damage" value="<%= ability.damage %>">
    
            <input type="submit" value="Done">
        </form>

        <% } else { %>

        <form id="create-ability-form" action="/api/abilities/<%= character._id %>" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <label for="level">Level: </label>
            <input type="text" name="level" id="level">
            <label for="cantrip">Cantrip: </label>
            <input type="checkbox" name="cantrip" id="cantrip">
            <label for="weapon">Weapon: </label>
            <input type="checkbox" name="weapon" id="weapon">
            
            <label for="hands">Hands: </label>
            <input type="radio" name="hands" id="0" value="0">
            <label for="0">None</label>
            <input type="radio" name="hands" id="1" value="1">
            <label for="1">One</label>
            <input type="radio" name="hands" id="2" value="2">
            <label for="2">Two</label>
    
            <label for="range">Range(ft.): </label>
            <input type="text" name="range" id="range">
            <label for="damage">Damage(eg. 2d6 slashing, 1d8 acid): </label>
            <input type="text" name="damage" id="damage">
    
            <input type="submit" value="Done">
        </form>

        <% }; %>

        <% if (abilityBoolean) { %>

        <% let i = 0; %>

        <div>
            <h2>Ability Info</h2>
            <p>Level: <%= ability.level %></p>
            <p>Cantrip: <%= ability.cantrip ? 'Yes' : 'No' %></p>
            <p>Weapon: <%= ability.weapon ? 'Yes' : 'No' %></p>
            <p>Hands: <%= ability.hands %></p>
            <p>Range: <%= ability.range %></p>
            <p>Damage: <%= ability.damage %></p>
        </div>
        <form id="delete-ability-form" action="/api/abilities/delete/<%= character._id %>/<%= ability._id %>" method="GET">
            <input type="submit" value="Delete Ability">
        </form>

        <% character.abilities.forEach(function(abilityId) { %>

        <% if (ability.id === abilityId.toString()) { %>

        <form id="remove-ability-form" action="/api/abilities/remove/<%= character._id %>/<%= ability._id %>" method="GET">
            <input type="submit" value="Remove Ability from <%= character.name %>">
        </form>

        <% }; %>

        <% i++; %>

        <% }); %>

        <% }; %>

    </div>
</body>
</html>